@charset "UTF-8";
body {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: 18px;
}

.allbody {
	width: 1300px;
	margin: auto;
}

#content {
	background-color: #f2f2f2;
	min-height: 100%;
}

label {
	line-height: 40px;
	text-align: center;
}

p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.board-wrapper {
	background-color: white;
	height: 400px;
	margin: 20px;
}

#board {
	width: 390px;
	height: 350px;
	display: inline-block;
	float: left;
	margin: 20px;
}

#chat {
	width: 450px;
	height: 350px;
	display: inline-block;
	float: left;
	margin: 20px;
}

#number-wrapper {
	background-color: white;
	width: 300px;
	display: inline-block;
	margin: 20px;
	float: left;
}

#number-table {
	text-align: center;
}

th {
	font-size: 40px;
}

#doughnut-wrpper {
	float: left;
	background-color: white;
	width: 350px;
	display: inline-block;
	margin: 20px;
	margin-left: 80px;
}

#line-wrapper {
	width: 700px;
	background-color: white;
	display: inline-block;
	margin: 20px;
}

#line-chart {
	vertical-align: center;
}

.product_p_name {
	
	display: inline-block;
	width: 245px;
	
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}