
@charset "UTF-8";
body {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: 18px;
}


.allbody {
	width: 1300px;
	margin: auto;
}

#content {
	background-color: rgb(229, 229, 229);
	min-height: 100%;
}

label {
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}


.container{
	background-color: white;
	padding: 5px;
	border: 1px solid #ced4da;
}

#board {
	width: 390px;
	height: 350px;
	margin	: 20px;
	float: left;
}

#chat {
	width: 600px;
	height: 350px;
	margin: 20px;
	clear: both;
	border: 1px solid #ced4da;
}

#number-wrapper {
	background-color: white;
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 20px;
	font-size: 16px;
	border: 1px solid #ced4da;
}

#number-table {
	text-align: center;
	height: 120px;
}

th {
	font-size: 38px;
}

#doughnut-wrpper {
	background-color: white;
	width: 250px;
	display: inline-block;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid #ced4da;
}

#line-wrapper {
	width: 500px;
	background-color: white;
	display: inline-block;
	margin: 20px;
	border: 1px solid #ced4da;
}

#line-chart {
	vertical-align: center;
}

.product_p_name {
	
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#report{
  display:inline-block;
  width: 300px;
  height: 400px;
  overflow-y: scroll;
   height:200px;
}



p {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

#report_user{
	font-size: 10px;
}
