
@charset "UTF-8";
body {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: 18px;
}


.allbody {
	width: 1300px;
	margin: auto;
}

#content {
	background-color: white;
	min-height: 100%;
	width: 100%;
}

label {
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 0.3;
}

/* 
.container{
	background-color: white;
	padding: 5px;
	border: 1px solid #ced4da;
	border-radius: 0.3;
} */

#board {
	width: 390px;
	height: 350px;
	margin	: 20px;
	float: left;
	overflow-y: auto;
	font-size:15px;
}
/* .report-wrapper{
   width: 650px;
   height:400px;
   border: 1px solid #ced4da;
   border-radius: 0.3;
} */
#report{
  float:left;
  width: 250px;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ced4da;
  border-radius: 0.3;
  margin-left: 50px;	
  font-size:15px;
}

#report_inf{
  /* display:inline-block; */
  float:left;
  width: 400px;
  height: 400px;
  border: 1px solid #ced4da;
  border-radius: 0.3;
  font-size:15px;
}

#number-wrapper {
	background-color: white;
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 20px;
	font-size: 16px;
	border: 1px solid #ced4da;
	border-radius: 0.3;
}

#number-table {
	text-align: center;
	height: 120px;
}

th {
	font-size: 38px;
} 

#doughnut-wrpper {
	background-color: white;
	width: 250px;
	display: inline-block;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid #ced4da;
	border-radius: 0.3;
}

#line-wrapper {
	width: 500px;
	background-color: white;
	display: inline-block;
	margin: 20px;
	border: 1px solid #ced4da;
	border-radius: 0.3;
	padding: 5px;
}

#line-chart {
	vertical-align: center;
}

.product_p_name {
	
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

p {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

#report>table{
  border-spacing: 17px;
  border-collapse: separate;
}
#report_inf>table{
  border-spacing: 25px;
  border-collapse: separate;
  font-size: 20px;
}

.report-wrapper{
  cursor: pointer;
}

