@charset "UTF-8";

body {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
}

.container {
	width: 1300px;
	margin: auto;
}

.form-control{
	margin-top: 14px;
}

.rounded-circle{
	
	margin-top: 14px;
}