@charset "UTF-8";
  body{
	    font-family: 'Gowun Dodum', sans-serif;
	    font-size: 18px;
	  }
	  
	  #box{
	    width: 500px;
	    min-height: 500px;
	    border-radius: 8px;
	    margin: 0 auto;
	    margin-top: 20px;
	    border: 1px solid #a2a99f;
	  }
	   
	 .mb-4{
	     vertical-align: center;
	     margin-top: 20px;
	  }
	  
	 .fw-normal{
	    text-align: center;
	  } 
	  
	  #login-form{
	     margin-bottom: 20px;
	     /* margin-top: 20px; */
	  }
	  .input-form{
		margin-bottom: 20px;
	  }
	  
	  .form-control{
	    margin-top: 20px;
	    margin-bottom: 40px;
	    width: 250px;
	    height: 50px;
	    margin:auto;
	  } 
	  
	#login_btn{
	  display: inline-block;
	  height: 50px;
	  width: 100px;
	  color: white;
	  text-align: center;
	  vertical-align: middle;
	  cursor: if($enable-button-pointers, pointer, null);
	  background-color: #42b883;
	  margin-top: 20px;
	  margin-bottom: 45px;
	}
	/* 
	#naver_btn{
	  display: inline-block;
	  color: white;
	  text-align: center;
	  vertical-align: middle;
	  cursor: if($enable-button-pointers, pointer, null);
	  background-color: #19ce60;
	  margin-bottom: 10px;
	   font-size: 22px;
	}
	
	 #kakaotalk_btn{
	  display: inline-block;
	  color: black;
	  text-align: center;
	  vertical-align: middle;
	  cursor: if($enable-button-pointers, pointer, null);
	  background-color: yellow;
	  margin-bottom: 10px;
	  font-size: 22px;
	}
	 */
	#button-wrap{
	   width: 230px;
	   height: 80px;
	   margin: auto;
	}
	
	.find_account{
	  cursor:pointer;
	}
	
	.find_account:hover{
	   color: gray;
	}
    
    
    #enroll{
      margin-top: 5px;
    }
    
    .modal {
      text-align: center;
    }
    
    .form-control{
      display: inline-block;
    }
    
    #loginMsg{
      color: red;
    }

    
