@charset "UTF-8";
  body{
	    font-family: 'Gowun Dodum', sans-serif;
	    font-size: 18px;
	  }
	  
	  #box{
	    width: 600px;
	    margin: 0 auto;
	  }
	   
	 .mb-4{
	     vertical-align: center;
	  }
	  
	 .fw-normal{
	    text-align: center;
	  } 
	  
	  #login-form{
	     margin-bottom: 20px;
	  }
	  .input-form{
		margin-bottom: 20px;	  
	  }
	  
	  .form-control{
	    margin-top: 20px;
	    margin-bottom: 40px;
	    width: 250px;
	    margin:auto;
	  } 
	  
	#login_btn{
	  display: inline-block;
	  color: white;
	  text-align: center;
	  vertical-align: middle;
	  cursor: if($enable-button-pointers, pointer, null);
	  background-color: #42b883;
	  margin-top: 20px;
	  margin-bottom: 45px;
	}
	
	#naver_btn{
	  display: inline-block;
	  color: white;
	  text-align: center;
	  vertical-align: middle;
	  cursor: if($enable-button-pointers, pointer, null);
	  background-color: #19ce60;
	  margin-bottom: 10px;
	   font-size: 22px;
	}
	
	 #kakaotalk_btn{
	  display: inline-block;
	  color: black;
	  text-align: center;
	  vertical-align: middle;
	  cursor: if($enable-button-pointers, pointer, null);
	  background-color: yellow;
	  margin-bottom: 10px;
	  font-size: 22px;
	}
	
	#button-wrap{
	   width: 230px;
	   height: 80px;
	   margin: auto;
	}
	
	.find_account{
	  cursor:pointer;
	}
	
	.find_account:hover{
	   color: gray;
	}
    
    #social-wrap{
       width: 280px;
       margin: auto;
    }