@charset "UTF-8";

	#report_popup{
		width: 300px;
		padding: 10px;
		border: 2px solid white;
		
		left: 400px; 
		top: 100px;
		
		background: #222222;
		
		color: white;
		
		/* box-shadow: 2px 2px 3px black; */
		
		display: none;
		
	}